footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  bottom: 0px;
  width: 360px;
  height: 52px;
  left: 0px;
  background: #41197F;
}

.meal-icon {
  margin-left: 36px;
  margin-top: 6px;
}

.drink-icon {
  margin-right: 36px;
  margin-top: 6px;
}