/* ANTES DE COMECAR A RECEITA */
/* lista ingredientes */
.recipe-ingredients-list {
  box-sizing: border-box;

  padding: 10px;
  padding-left: 30px;
  width: 335px;
  height: auto;
  margin-left: 10px;
  
  background: #FFFFFF;
  border: 0.554397px solid #B1B1B1;
  border-radius: 5.35144px;
}


/* DEPOIS DE COMECAR A RECEITA */
/* lista de ingredientes */
.recipe-ingredients-todo {
  box-sizing: border-box;

  padding: 10px;
  width: 335px;
  height: auto;
  margin-left: 10px;
  
  display: flex;
  flex-direction: column;

  background: #FFFFFF;
  border: 0.554397px solid #B1B1B1;
  border-radius: 5.35144px;
}

.recipe-detail-header-h2 {
  height: auto;


  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 20px;
  padding: 15px;

  color: #1A1B1C;
}
