.recipe-detail-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* container da imagem da receita */
.recipe-image-container {
  height: 162px;
  top: 0;
  width: 361px;
}

/* imagem da receita */
.recipe-image-container img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

/* categoria da receita */

/* imagem da categoria da receita */
.category-image {
  height: 16.32px;
  left: 20px;
  position: absolute;
  top: 22px;
  width: 19.8px;
}

/* nome da categoria da receita */
.recipe-category-header span {
  color: #fcc436;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 11px;
  left: 53.01px;
  line-height: 12px;
  position: absolute;
  top: 26px;
  width: 72px;
}

/* nome da receita */
.recipe-detail-header h1 {
  color: white;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: 42px;
  left: 109.01px;
  letter-spacing: 0.105em;
  line-height: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 81px;
  width: 147px;
}


/* icones compartilhar e favoritar */
.icons {
  position: absolute;
}

.icons button img {
  height: 90%;
  left: 100px;
  position: relative;
  top: 20px;
  width: 90%;
}
