.instructions {
  color: #1a1b1c;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  line-height: 20px;
  padding: 15px;
}

.recipe-instruction-container {
  background: white;
  border: 0.554px solid #b1b1b1;
  border-radius: 5.351px;
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 0;
  padding: 10px;
  width: 335px;
}

.recipe-container {
  display: flex;
  flex-wrap: wrap;
}
