.recipe-detail-header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  /* gap: 7px; */
  justify-content: center;
  background-color: red;
}

/* container da imagem da receita */
.recipe-image-container {
  top: 0px;
  width: 361px;
  height: 162px;
}

/* imagem da receita */
.recipe-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* categoria da receita */
/* imagem da categoria da receita */
.category-image { 
  position: absolute;
  width: 19.8px;
  height: 16.32px;
  left: 20px;
  top: 22px;
  }

  /* nome da categoria da receita */
.recipe-category-header span { 
  position: absolute;
  width: 72px;
  height: 11px;
  left: 53.01px;
  top: 26px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  
  color: #FCC436;
}

/* nome da receita */
.recipe-detail-header h1 {
  position: absolute;
  width: 147px;
  height: 42px;
  left: 109.01px;
  top: 81px;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.105em;
  text-transform: uppercase;

  color: #FFFFFF;
  text-transform: uppercase;
}


/* icones compartilhar e favoritar */
.icons {
  position: absolute;
}

.icons button img {
  left: 100px;
  top: 20px;
  width: 90%;
  height: 90%;
  position: relative;
}

.recipe-detail-header-h2 {
  height: auto;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 20px;
  padding: 15px;

  color: #1A1B1C;
}