.instructions {
  height: auto;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 20px;
  padding: 15px;

  color: #1A1B1C;

  margin-top: 285px;
}

.recipe-instruction-container {
  box-sizing: border-box;

  padding: 10px;
  width: 335px;
  margin-left: 10px;
  margin-top: 0px;
  
  background: #FFFFFF;
  border: 0.554397px solid #B1B1B1;
  border-radius: 5.35144px;
}