.start-recipe-btn {
  background: #fcc436;
  border: none;
  border-radius: 5px;
  bottom: 0;
  color: white;
  font-size: 20px;
  height: 40px;
  left: 12px;
  margin-bottom: 20px;
  position: fixed;
  width: 336px;
}

h2 {
  color: #1a1b1c;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  line-height: 20px;
  padding: 15px;
}

.carousel {
  margin-bottom: 40px;
}
