.login {
  align-items: center;
  background-image: linear-gradient(to bottom, #41197f 50%, white 50%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.recipes-logo {
  height: auto;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 250px;
}

.tomate-logo {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.login-h1 {
  color: black;
  font-size: 50px;
  font-style: italic;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.form {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 400px;
}

.email {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.password {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
}

.bttn {
  background: #fcc436;
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  padding: 12px 150px;
  text-align: center;
  text-decoration: none;
}

.bttn:hover {
  background: linear-gradient(to bottom, seagreen, #4caf50);
}
